{{message}}
<h1>Enter 2FA Code</h1>

<form method="POST" action="/verify-2fa">
    Code: <input name="code"><br>
    <input type="submit" value="Verify Code">
</form>

<a href="/login">Back to Login</a>