<form method="POST" action="/login">
    Email: <input name="email"><br>
    Password: <input name="password" type="password"><br>
    <button type="submit">Login</button>
    <a href="/signup">SIGN UP</a>
</form>