<form method="POST" action="/signup">
    Email: <input name="email"><br>
    Password: <input name="password" type="password"><br>
    Type:
    <select name="type">
        <option value="admin">Admin</option>
        <option value="standard">Standard</option>
    </select><br>
    <button type="submit">Sign Up</button>
</form>